.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: rgb(255, 201, 69);
  min-height: 70px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 32px;
}

.App-intro {
  font-size: large;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 150px;
  height: 20px;
  outline: none;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

textarea {
  text-align: center;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
}